.registro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  padding: 0 20px; 
  box-sizing: border-box; 
}

.registro-box {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 20px; 
  margin-bottom: 20px; 
  position: relative;
}

.registro-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.registro-back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #6a11cb;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
  margin-top: 60px;;
}

.registro-back-button:hover {
  background: #5a0dbf;
}

.registro-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}

.registro-form-label {
  margin-top: 10px;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.registro-form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.registro-form-input:focus {
  border-color: #6a11cb;
  outline: none;
  box-shadow: 0 0 4px rgba(106, 17, 203, 0.2);
}

.registro-direccion-container {
  margin-bottom: 15px;
}

.registro-direccion-container input {
  margin-bottom: 10px;
}

.registro-button {
  width: 100%;
  padding: 10px;
  background: #6a11cb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.registro-button:hover {
  background: #5a0dbf;
}

.registro-recaptcha-container{
  margin-left: 40px;
  margin-bottom: 18px;
}



.registro-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f1c40f;
  color: white;
  height: 60px;
}

.registro-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.registro-logo-img {
  width: 50px;
  height: auto;
  vertical-align: middle;
}

.registro-name {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #0c5304;
}

.registro-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  width: 100%;
}

.registro-footer p {
  margin: 5px 0;
}

.rgoogle {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin-bottom: 0; 
  margin-top: 0;
  display: inline-block; 
  font-size: 14px; 
  color: #555;
}

.rgoogle-link-container {
  margin-left: 160px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  margin-top: 15px; 

}

.rgoogle-link {
  margin-left: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  padding: 10px 20px; 
  border: 1px solid #ddd; 
  border-radius: 10px; 
  background-color: #fff; 
  font-family: Arial, sans-serif;
  font-size: 16px; 
  color: #000; 
  cursor: pointer;
  transition: all 0.3s ease; 
}

.rgoogle-link:hover {
  background-color: #f5f5f5; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}
.rgoogle-link img {
  width: 20px;
  height: 20px;
}

