#paypal-button-container {
  display: flex;
  justify-content: center; 
  margin: 20px auto; 
}

.change-address-button button {
  background-color: #0c5304; 
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s;
}

.change-address-button button:hover {
  background-color: #0a4203;
  transform: scale(1.05);
}
