body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.principal-app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f1c40f; /* Fondo amarillo */
  color: white;
  height: 60px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Añadir sombra para mejor visibilidad */
}

.principal-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.principal-logo-img {
  width: 80px;
  height: auto;
  vertical-align: middle;
}

.principal-name {
  font-family: 'Agbalumo', sans-serif;
  font-size: 40px;
  color: #0c5304; /* Color del texto del nombre */
}

.principal-search-bar {
  flex-grow: 1;
  margin: 0 20px;
}

.principal-search-input {
  width: 100%;
  max-width: 400px; /* Ajusta el ancho máximo para evitar desbordamiento */
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.principal-search-input:focus {
  border-color: #0e6705;
}

.principal-header-button {
  background-color: #371d03f0;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.principal-header-button:hover {
  background-color: #f39c12;
}

.principal-nav-links {
  display: flex;
  gap: 10px;
}

.principal-nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 16px;
}

.principal-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.principal-main-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  flex: 1;
}

.principal-sidebar {
  background-color: #CCD1D1;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.principal-sidebar ul {
  list-style: none;
  padding: 0;
}

.principal-sidebar li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.principal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 30px;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

.principal-category-list {
  list-style: none;
  padding: 0;
}

.principal-category-item {
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  transition: all 0.3s ease;
}

.principal-category-item:hover {
  color: #f39c12;
  border-bottom: 2px solid #f39c12;
}

.principal-category-item.principal-active {
  font-weight: bold;
  color: #f39c12;
}

.principal-products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px 0;
}

.principal-product-card {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.principal-product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  padding: 10px;
  overflow: hidden;
}

.principal-product-info h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.principal-product-info p {
  font-size: 14px;
  color: #555;
  margin: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.principal-product-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

.principal-product-card .principal-price {
  color: #f39c12;
  font-size: 18px;
  font-weight: bold;
}

.principal-product-card .principal-out-of-stock-message {
  color: red;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.principal-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.principal-controls button {
  padding: 10px 20px;
  background-color: #371d03f0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.principal-controls button:hover {
  background-color: #f39c12;
}

.principal-disabled {
  background-color: #ddd;
  color: #888;
  cursor: not-allowed;
}

.principal-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 650px;
  height: 90vh;
  background-color: white;
  border-bottom: 2px solid #ddd;
  z-index: 1000;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius:  25px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.principal-close-cart {
    margin-top: -54px;
  align-self: flex-end;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #371d03f0;
  margin-bottom: 10px;
}

.principal-cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  height: auto;
  width: 600px;
}

.principal-cart-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
}

.principal-cart-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 15px;
}

.principal-cart-item-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  flex: 1;
}

.principal-cart-item-price {
  font-size: 16px;
  color: #ff4500;
  text-align: right;
  width: 60px;
}

.principal-cart-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  height: auto;
}

.principal-cart-controls button {
  font-size: 15px;
  padding: 8px 12px;
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.principal-cart-controls button:hover {
  background-color: #e43e00;
}

.principal-cart-item-quantity {
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.principal-cart-total {
  margin-top: auto;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: right;
  margin-bottom: 20px;
}

.principal-cart-button {
  position: absolute;
  top: 130px;
  right: 20px;
  background-color: #371d03f0;
  color: white;
  padding: 15px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.principal-cart-button:hover {
  background-color: #f39c12;
}

.principal-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.principal-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  position: relative;
  overflow-y: auto;
  height: 80%;
}

.principal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.principal-close-button:hover {
  color: red;
}

.principal-payment-options {
  margin-top: 20px;
}

.principal-payment-options button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.principal-payment-options button:hover {
  background-color: #45a049;
}

.principal-proceed-to-payment {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.principal-proceed-to-payment:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.principal-proceed-to-payment:active {
  transform: scale(1);
}

.principal-proceed-to-payment:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.principal-app-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
  width: 100%;
}

.principal-app-footer p {
  margin: 5px 0;
  font-size: 14px;
}

.principal-product-grid {
  display: grid;
  gap: 20px;
}

.principal-product-card h4 {
  font-size: 16px; /* Fuente más pequeña */
  margin: 10px 0;
}

.principal-product-card p {
  color: #555;
  font-size: 12px; /* Fuente más pequeña */
}

button:disabled, button.principal-disabled {
  background-color: #ddd;
  color: #888;
  cursor: not-allowed;
  pointer-events: none;
}

.principal-cart-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; 
}

.principal-cart-item-price {
  font-size: 18px;
  color: #f39c12;
  margin-right: 10px; /* Separación entre precio y controles */
}

.principal-main {
  flex: 1; /* Hace que el contenido principal se expanda para llenar el espacio */
}

.principal-user-menu {
  position: relative;
  display: inline-block;
}

.principal-user-name {
  cursor: pointer;
  position: relative;
  padding: 10px;
  background-color: #f8b400; 
  color: #fff; 
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.principal-user-name:hover {
  background-color: #f5a623; 
}

.principal-dropdown-menu {
  position: absolute;
  top: 100%;
  right: -60px; 
  background-color: #ffedcc; 
  border: 1px solid #e5a100; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  z-index: 1000;
  min-width: 150px;
  margin-right: 60px;
}

.principal-dropdown-item {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: left;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.principal-dropdown-item:hover {
  background-color: #f5a623; 
  color: white; 
}

.principal-borrar-pedido 
.principal-borrar {
  font-size: 16px;
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 12px;

}


.tituloCarrito{
  text-align: center;

  
}
/* Menu Toggle (Hamburguesa) */
/* Botón hamburguesa */
.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* Menú de navegación */
.nav-menu {
  display: block; /* Visible por defecto (pantallas grandes) */
  background-color: #fff;
  color: #000;
  padding: 20px;
  box-sizing: border-box;
}

.nav-menu.active {
  display: block; /* Muestra el menú cuando tiene la clase 'active' en móviles */
}

/* Botón para cerrar el menú */
.close-btn {
  background: none;
  border: none;
  color: #000;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Lista de categorías */
.category-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.principal-category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.principal-category-item {
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  transition: all 0.3s ease;
}

.principal-category-item:hover {
  color: #f39c12;
  border-bottom: 2px solid #f39c12;
}

.principal-category-item.principal-active {
  font-weight: bold;
  color: #f39c12;
}
/* Botón de eliminar producto  */
.remove-all-button {
  margin-top: 2px;    
  font-size: 15px;     
  border: none;       
  color: #888;        
  cursor: pointer;  
  text-align: center;
}

.remove-all-button:hover {
  transform: scale(1.3); /* Escala 1.1 cuando se hace clic */
  color: #666; /* Gris más oscuro cuando se hace clic */
}
.notification-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 1px solid #ccc;  
  width: 100%;
  max-width: 500px;
  margin: 10px; 
  position: fixed; 
  top: 20px;
  left: 20px; 
  z-index: 1000; 
  
  border-left: 7px solid green; 
}

/* Estilos para el ícono dentro de la notificación */
.notification-icon {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  color: green; 
}
/* Estilos para el contenedor de la notificación */
.notification-container-eliminar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 500px;
  margin: 10px;
  position: fixed; /* Asegura que la notificación se muestre en la parte superior */
  top: 20px;
  left: 20px;
  z-index: 1000;
  border-left: 5px solid red; /* Borde izquierdo rojo */
}

/* Estilos para el ícono dentro de la notificación */
.notification-icon-eli {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: red; /* Color rojo para el ícono de "X" */
}
/* Ocultar menú hamburguesa en pantallas grandes */
@media (min-width: 1024px) {
  .menu-toggle {
    display: none; /* Esconde el botón hamburguesa en pantallas grandes */
  }

  .nav-menu {
    display: block; /* Muestra el menú en pantallas grandes */
    position: static;
    background-color: transparent;
    color: #000;
  }
  
}
  
  /* Media query para pantallas pequeñas (celulares y tablets) */
@media (max-width: 912px) {
  .menu-toggle {
    display: block; /* Muestra el botón hamburguesa en pantallas pequeñas */
  }

  .nav-menu {
    display: none; /* Esconde el menú por defecto en pantallas pequeñas */
  }

  .nav-menu.active {
    display: block; /* Muestra el menú cuando está activo */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
    color: #fff;
    padding: 20px;
    z-index: 1000;
    box-sizing: border-box;
  }
 
  .principal-sidebar {
    display: none; /* Ocultar el sidebar */
  }

  .principal-name {
    display: none; /* Ocultar el nombre en pantallas pequeñas */
  }

  .principal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Ajustar elementos para ocupar todo el espacio horizontal */
    padding: 10px;
  }

  .principal-logo {
    justify-content: center;
    margin-bottom: 10px;
  }

  .search-bar {
    flex-grow: 1; /* Permite que la barra de búsqueda ocupe más espacio */
    margin: 0 10px; /* Espaciado entre la barra de búsqueda y otros elementos */
  }

  
  .principal-cart-button {
    margin-left: 10px; /* Reducir espacio entre el usuario y el carrito */
  }
  
  .principal-main-container {
    display: block; /* Cambiar a diseño en bloque */
  }

  .principal-content {
    margin: 0; /* Quitar margen para expandir al ancho completo */
    width: 100%; /* Expandir al ancho completo de la pantalla */
  }
  .principal-user-menu {
    margin-left: 5px; /* Reduce el margen para que encaje en pantallas pequeñas */
  }

  .principal-user-name {
    font-size: 14px; /* Reduce el tamaño de la fuente */
    padding: 5px; /* Reduce el padding para ahorrar espacio */
    white-space: nowrap; /* Evita que el texto se divida en dos líneas */
  }
  
}
/* Media query: Menores de 400px */
@media (max-width: 400px) {
  body {
    overflow-x: hidden; /* Previene el desplazamiento horizontal */
  }

  .principal-cart {
    padding: 10px;
    width: 90%; /* Asegura que no se exceda el ancho de la pantalla */
    margin: 0 auto; /* Centra el carrito horizontalmente */
    gap: 8px;
    box-sizing: border-box; /* Evita que el padding incremente el ancho */
  }

  .tituloCarrito {
    font-size: 14px; /* Reduce el tamaño del título */
    text-align: center;
  }

  .principal-cart-item {
    flex-direction: column; /* Cambiar a diseño vertical */
    gap: 8px;
    align-items: center; /* Centrar los elementos dentro del contenedor */
  }

  .principal-cart-item-image {
    width: 40px; /* Reducir tamaño de la imagen */
    height: 40px;
  }

  .principal-cart-item-details {
    font-size: 12px; /* Reducir tamaño del texto */
    text-align: center;
  }

  .principal-cart-controls button {
    font-size: 15px;
    padding: 4px;
  }

  .principal-cart-item-quantity {
    font-size: 10px;
    padding: 4px;
  }

  .principal-borrar,
  .principal-proceed-to-payment {
    font-size: 12px;
    padding: 8px;
    width: 100%; /* Asegura que los botones se ajusten al contenedor */
  }

  .principal-cart-total {
    font-size: 12px; /* Subtotal más pequeño */
    text-align: center;
  }

  /* Soluciona problemas de botones que podrían estar generando ancho extra */
  button {
    max-width: 100%;
    word-wrap: break-word;
  }
}
/* Media query: Pantallas de 400px a 600px */
@media (min-width: 400px) and (max-width: 600px) {
  body {
    overflow-x: hidden; /* Previene el desplazamiento horizontal */
  }

  .principal-cart {
    width: 85%; /* El carrito ocupa el 85% del ancho */
    max-width: 500px; /* Limita el ancho máximo */
    margin: 0 auto; /* Centra el carrito */
    padding: 10px; /* Reduce el padding */
    box-sizing: border-box;
  }

  .tituloCarrito {
    font-size: 16px; /* Tamaño más pequeño para el título */
    text-align: center;
  }

  .principal-cart-item {
    flex-direction: row; /* Mantiene los elementos en fila */
    gap: 10px; /* Espaciado reducido */
    align-items: center;
  }

  .principal-cart-item-image {
    width: 50px; /* Imagen más pequeña */
    height: 50px;
  }

  .principal-cart-item-details {
    font-size: 14px; /* Tamaño de texto más pequeño */
  }

  .principal-cart-controls button {
    font-size: 12px;
    padding: 3px; /* Botones más compactos */
  }

  .principal-cart-item-quantity {
    font-size: 12px;
  }

  .principal-borrar,
  .principal-proceed-to-payment {
    font-size: 14px;
    padding: 10px;
    width: 100%; /* Los botones ocupan todo el ancho del contenedor */
  }

  .principal-cart-total {
    font-size: 14px; /* Subtotal más pequeño */
    text-align: center;
  }

  button {
    max-width: 100%; /* Asegura que los botones no excedan el ancho */
  }
}
 



.principal-header-button{
  margin-right: 15px;
}



.principal-admin-button-asd {

  background-color: #0c5304;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.principal-admin-button-asd:hover {
  background-color: #f39c12;
}
